@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
}
input {
    height: 45px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
button {
    width: 200px;
    outline: none;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
}
.login__container,
.signup__container {
    width: 100%;
    min-height: 100vh;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.dashboard h2 {
  margin-bottom: 20px;
}
.login__form,
.signup__form {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.loginBtn,
.signupBtn {
    background-color: #333;
    color: #fff;
    margin-bottom: 15px;
}
.signOutBtn {
    background-color: #c21010;
    color: #fff;
}
.link {
    cursor: pointer;
    color: #333;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar_right {
  display: flex;
  align-items: center;
}

.navbar__brand {
  font-size: 24px;
}

.navbar__greeting {
  font-size: 18px;
  color: #c0c0c0;
  margin-right: 30px;
}

.navbar__logout {
  margin-right: 20px;
}

.btn {
  width: 120px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d32f2f;
}

.main-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  z-index: 9;
}

.eva-box {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}

.evaluation-box {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: block;
  margin-bottom: 50px;
}

.evaluation-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0px;
  padding: 40px 20px 0;
}

.evaluation-box h3 {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.evaluation-box h4 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.profile__details {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile__details p {
  margin-bottom: 10px;
}

.profile__details strong {
  margin-right: 10px;
}

.navbar__link {
  font-size: 18px;
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}

.navbar__link:hover {
  color: #c1c1c1;
}

.profile {
  display: flex;
}

.profile__box {
  width: 50%;
  padding: 0px 20px;
}

.profile__details {
  height: 200px;
  padding: 20px;
}

.profile-text {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px 20px 20px;
}

.error-popup {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  padding: 30px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.success-message {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c471d;
  padding: 30px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
}

.error-popup__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-popup__message {
  flex: 1;
  margin: 0;
}

.error-popup__close-btn {
  /* width: 0; */
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  text-align: right;
}

.error-popup__close-btn:hover {
  color: #c0c0c0;
}
.evaluation-items {
  position: absolute;
  top: 350px;
  left: 0;
  transform: translateX(0);
  width: 50%;
  padding: 40px 20px 0;
}

.evaluation-items h2 {
  font-size: 20px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 20px;
}


.evaluation-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.evaluation-item h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.evaluation-item p {
  font-size: 15px;
  margin-bottom: 10px;
}

.evaluation-item strong {
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    .login__container,
    .signup__container {
        padding: 30px;
    }
}
